@model DAL.Models.UniversityCampuss
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*Form for the campus attributes*@
<div class="container col-sm-12 form-horizontal">
    <form onsubmit="return SendToController()">
        <h1 class="blue-heading">Add Campus<input style="margin-left:500px; width:200px" type="submit" class="btn btn-success" /></h1>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.CampusTitle, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.CampusTitle, new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.AlternateName, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.AlternateName, new { @class = "form-control", @required = "required" })</div>
                <div class="col-sm-4">@Html.ValidationMessageFor(model => model.AlternateName)</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.UniversityId, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("UniversityId", null, htmlAttributes: new { @class = "form-control", @required = "required" });</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.CityId, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("CityId", null, new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.Address, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextAreaFor(model => model.Address, new { @class = "form-control", @required = "required" })</div>
            </div>
        </div>

        @*Form for degree attributes*@
    </form>
    <h3>Add Degree</h3>
    <form onsubmit="return AddToTable()">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("Degree", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("DegreeId", null, new { @class = "form-control" })</div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("Duration", new { @class = "control-label" })</div>
                <div class="col-sm-6"><select id="DegreeSystem" class="form-control"><option value="2 Years">2 Years</option><option value="4 Years">4 Years</option></select></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6"><input type="submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>

    @*Table for displaying added degrees*@
    <div class="col-sm-9">
        <table class="table table-bordered table-hovered" id="mytable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="TBody">
                <tr></tr>
            </tbody>
        </table>
    </div>
    </div>

<script>
    //Global variables
    var counter = 1;
    var DegreeArray = new Array();


    $(document).ready()
    {
        $('#UniversityId').chosen();
        $("#DegreeId").chosen();
    }

    //Campus class copy of UniversityCampus class given by entity framework
    function AddToTable() {
        var  degreeid= document.getElementById("DegreeId");
        var  degreesystem = document.getElementById("DegreeSystem");
        var obj = new CampusDegreeCopy();
        obj.Count = counter++;
        obj.DegreeId = degreeid.value;
        obj.DegreeSystem = degreesystem.value;
        DegreeArray.push(obj);
        $("#TBody").append("<tr><td>" +  degreeid[degreeid.selectedIndex].innerHTML+"</td><td>" + degreesystem[degreesystem.selectedIndex].innerHTML + "</td><td>" + "<button class='btn btn-danger' onclick=" + "'RemoveFromTable(" + (obj.Count) + ");'>Delete</button>" + "</td></tr>");
        return false;
    }

    //Removing a added campus from array/table
    function RemoveFromTable(a) {
        $("#TBody").empty();
        for (var j = 0; j < DegreeArray.length; j++)
        {
            var b = DegreeArray[j];
            if (b.Count == a)
            {
                DegreeArray.splice(j, 1);
            }
        }
        for (var i = 0; i <DegreeArray.length; i++) {
            $("#TBody").append("<tr><td>" + degreeid[degreeid.selectenIndex].innerHTML + "</td><td>" + degreesystem[degreesystem.selectedIndex].innerHTML + "</td><td>" + "<button class='btn btn-danger' onclick=" + "'RemoveFromTable(" + (obj.Count) + ");'>Delete</button>" + "</td></tr>");
        }
    }

    //Send university object and array of campuses to controller
    function SendToController() {
        if (DegreeArray.length == 0) {
            alert("Add atleast 1 campus.")
            return false;
        }
        var campustitle = document.getElementById("CampusTitle");
        var alternatename = document.getElementById("AlternateName");
        var address = document.getElementById("Address");
        var cityid = document.getElementById("CityId");
        var universityid = document.getElementById("UniversityId");

        var obj = new CampusCopy();
        obj.CampusTitle = campustitle.value;
        obj.AlternateName = alternatename.value;
        obj.Address = address.value;
        obj.CityId = cityid.value;
        obj.UniversityId = universityid.value;

        //Sending data
        $.ajax({
            url: '/AdminCampus/AddCampus',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ obj: obj, arr: DegreeArray }),
            contentType: 'application/json',
            success: function (data) {
                self.location = '/AdminCampus/ViewAll'
                return true;
            },
            error: function (xhr) {
                alert(data);
                return false;
            }
        });
        return false;
    }

    //Campus class copy of UniversityCampus class given by entity framework
    var CampusCopy = function () {
        this.Id;
        this.CampusTitle;
        this.Address;
        this.UniversityId;
        this.AlternateName;
        this.CityId
    }

    var CampusDegreeCopy = function () {
        this.Id;
        this.UniversityId;
        this.DegreeId;
        this.DegreeSystem;
        this.Count;
    }
</script>